/* google font  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

ul, menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

button {
    border: transparent;
    cursor: pointer;
    background-color: transparent;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0rem;
    padding: 0rem;
}



body {
    font-family: "IBM Plex Mono", monospace;
}

:root {
    /* color  */
    --color_1:#292F36;
    --color_2: #fff;
    --color_3:#98FAEC;
    --color_4:#12F7D6;
    --color_5:#98FAEC;
    --color_6:#E54F26;
    --color_7:#0C73B8;
    --color_8:#E7A020;

    /* font family  */
    --f_ubuntu:"Ubuntu", sans-serif;

    /* border color  */
    --bd_color_1:#43454D;

    /* padding  */
    --pt: 40px;
    --pb: 40px;
    --px: 80px;
    --py: 40px;
}


/* common css  */
.section_header {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-bottom: 4rem;
}
.section_header img {
    width: auto;
    height: 140px;
    object-fit: cover;
}

.section_header_title {
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
    z-index: 3;
}

.section_title {
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_3);
    text-transform: capitalize;
    line-height: 3.5rem;
    border-bottom: 2px solid var(--color_4);
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 1rem;
}

.section_title::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: -15px;
    width: 15px;
    height: 15px;
    background-color: var(--color_4);
    border-radius: 100%;
}
.section_title::before {
    position: absolute;
    content: "";
    bottom: -8px;
    right: -15px;
    width: 15px;
    height: 15px;
    background-color: var(--color_4);
    border-radius: 100%;
    
}

.section_description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color_2);
    line-height: 1.25rem;
}


/* header section  */
.header_section {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--color_1);
    display: flex;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid var(--bd_color_1);
}



.header_section .logo a {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color_4);
    text-transform: capitalize;
    display: block;
}
.header_section .logo a span {
    color: var(--color_2);
}


.menu_items {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.menu_items li a {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color_2);
    text-transform: capitalize;
    

}

.list_item#active{
    color: var(--color_4);
}

.header_social_icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_social_icons a {
    font-size: 1.25rem;
    color: var(--color_4);
}
.header_social_icons a span{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color_2);
    text-transform: capitalize;
}

/* banner section  */
.banner_section {
    width: 100%;
    min-height: 750px;
    background-color: var(--color_1);
    display: flex;
    align-items: center;
}


.banner_header {
    text-align: center;
    margin-bottom: 4rem;
}
.banner_header h3 {
    font-size: 4.5rem;
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_2);
    text-transform: capitalize;
}

.banner_container {
    padding: 0rem var(--px);
    display: grid;
    grid-template-columns: 360px auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.5rem;
}



.banner_left_wrapper {
    height: auto;
    padding: 1.5rem;
    border: 4px solid var(--color_2);
    border-radius: 160px 0px 0px 0px;
    box-shadow: -4px -4px 2px var(--color_4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_left_wrapper .banner_dev_info {
    margin-bottom: 2rem;
    text-align: center;
}

.banner_left_wrapper .banner_dev_info  img{
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color_4);
}

.banner_left_wrapper .banner_dev_info h4 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color_2);
    line-height: 2.5rem;
    text-transform: capitalize;
    margin-top: 1rem;
}
.banner_left_wrapper .banner_dev_info h5 {
    font-size: .9rem;
    font-weight: 400;
    color: var(--color_2);
    line-height: .9rem;
    text-transform: capitalize;
    margin-top: .8rem;
}

.banner_dev_contact ul li a {
    font-size: .9rem;
    font-weight: 400;
    color: var(--color_4);
    line-height: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: .8rem;
    margin-bottom: 1rem;
}
.banner_dev_contact ul li a span {
    color: var(--color_2);

}

.banner_dev_contact ul li:last-child a {
    margin-bottom: 0rem;
}

.banner_technology {
    margin-top: 1rem;
}

.banner_technology ul {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}

.banner_technology ul li {
    font-size: .9rem;
    font-weight: 400;
    color: var(--color_4);
    line-height: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: .8rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    position: relative;
}

.banner_technology ul li::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0px;
    width: 10%;
    height: 1px;
    background-color: var(--color_4);
    transform-origin: left;
    animation: line 4s infinite;
}

@keyframes line {
    0% {
        width: 10%;
    }
    40% {
        width: 60%;
    }
    60% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

.banner_left_wrapper button {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_1);
    text-transform: capitalize;
    background-color: var(--color_2);
    padding: 1rem 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
} 


.banner_wrapper_right p {
    font-size: .9rem;
    font-weight: 400;
    color: var(--color_3);
}
.banner_wrapper_right p:nth-child(3) {
    margin-bottom: 1.5rem;
}


.banner_dev_right_info {
    padding-left: 1rem;
}

.banner_dev_right_info h3 {
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_2);
    text-transform: capitalize;
    line-height: 4rem;
    margin-bottom: 1.25rem;
}

.banner_dev_right_info h3 span {
    color: var(--color_3);
}
.banner_dev_right_info h3 span.h1_code {
    font-size: .9rem;
    font-weight: 400;
    color: var(--color_3);
    text-transform: lowercase;
}

.banner_dev_right_info p {
    font-style: 1rem;
    font-weight: 400;
    color: var(--color_2);
    list-style: 1.25rem;
    margin-bottom: 1.5rem;
}


.banner_wrapper_right a {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color_3);
    text-transform: capitalize;
    list-style: 2.5rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
}

.banner_wrapper_right a span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 1.5rem;
    background-color: #43454D;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* about section  */
.about_section {
    width: 100%;
    min-height: 800px;
    background-color: #1A1E23;
    position: relative;
    display: flex;
    align-items: center;

}
.about_section::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/bg/bg_image_1.jpg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .5;
    z-index: 2;

}



.about_container {
    display: grid;
    grid-template-columns: 600px auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.5rem;
    padding: 0rem var(--px);
    position: relative;
    z-index: 3;
}

.about_text_wrapper button {
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_2);
    text-transform: capitalize;
    padding: 1rem 2.5rem;
    line-height: 3.5rem;
    border-radius: 40px 0px 40px 0px;
    background-color: var(--color_1);
    border: 4px solid var(--color_3);
}

.about_text_inner_wrapper {
    padding: 1.5rem 2.5rem;
    border-radius: 2.5rem;
    background-color: var(--color_1);
    margin-top: 3rem;
}

.about_text_inner_wrapper p {
    font-size: .9rem;
    font-weight: 400;
    color: var(--color_3);
    margin-bottom: 1rem;
}

.about_text_inner_wrapper h4 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color_3);
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
}

.about_text_inner_wrapper p.about_description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color_2);
    line-height: 1.25rem;
}
.about_text_inner_wrapper p.about_description span {
    color: var(--color_3);
}


.about_image_wrapper img {
    min-height: 556px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}




/* skill section  */
.skill_section {
    width: 100%;
    min-height: 830px;
    background-image: url('/assets/images/bg/skill_imag.jpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--py) 0rem;
}
.skill_section::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #292F36;
    z-index: 2;

}


.skill_container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.skill_dev_info {
    max-width: 320px;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--color_4);
    border-radius: .5rem .5rem .5rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .8rem;
    border-left: 10px solid var(--color_7);
    text-align: center;
}


.skill_dev_info a {
    font-size: 2rem;
    color: var(--color_1);
}
.skill_dev_info h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color_1);
    text-transform: capitalize;
    line-height: 2rem;
}
.skill_dev_info h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #43454D;
    text-transform: capitalize;
    line-height: 1.25rem;
}

.skill_technology {
    margin-top: 4rem;
}

.skill_technology ul {
    display: flex;
    align-items: center;
    column-gap: 6rem;
}

.skill_technology ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill_technology ul li a {
    width: 100px;
    height: 100px;
    background-color: var(--color_6);
    border-radius: 100%;
    display: block;
    font-size: 4rem;
    color: var(--color_2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill_technology ul li:nth-child(2) a {
    background-color: var(--color_7);
}
.skill_technology ul li:nth-child(3) a {
    background-color: var(--color_8);
}
.skill_technology ul li:nth-child(4) a {
    background-color: #28A9E0;
}

.skill_technology ul li h4 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color_6);
    text-transform: capitalize;
    line-height: 2.5rem;
    margin-top: 1.5rem;
}

.skill_technology ul li:nth-child(2) h4 {
    color: var(--color_7);
}
.skill_technology ul li:nth-child(3) h4 {
    color: var(--color_8);
}
.skill_technology ul li:nth-child(4) h4 {
    color: #28A9E0;
}



/* work section  */
.work_section {
    width: 100%;
    min-height: 830px;
    background-image: url('/assets/images/bg/bg_image_2.jpg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--py) 0rem;

}
.work_section::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 97%;
    background-color: #292F36;
    z-index: 2;

}


.slider_container {
    position: relative;
    z-index: 3;
}


.slider_container .owl-carousel.owl-theme.owl-loaded.owl-drag {
    max-width: 921px;
    margin: 0 auto;
}

.slider_container .owl-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_container .slider_item {
    max-width: 620px;
    max-height: 432px;
    position: relative;
}

.slider_container .slider_item img {
    width: 100%;
    height: 100%;
}

.slider_container .slider_item  a {
    position: absolute;
    top: 50px;
    right: 35%;
    transform: translateX(50%);
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_4);
    text-transform: capitalize;
    padding-bottom: .8rem;
    border-bottom: 1px solid var(--color_4);
}

.slider_container .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translatey(-50%);
    width: 100%;
}

.slider_container .owl-nav button {
    width: 72px;
    height: 72px;
    background: #292F36 !important;
    border-radius: 100%;
    font-size: 1.8rem !important;
    color: var(--color_2) !important;
}



/* blog section  */
.blog_section {
    width: 100%;
    min-height: 830px;
    background-color: var(--color_1);
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--py) 0rem;

}

.blog_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog_wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem 0rem;
    border-top: 1px solid var(--color_2);
    border-bottom: 1px solid var(--color_2);
    max-width: 1052px;
    width: 100%;
}

.blog_text h4 {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_4);
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
}
.blog_text p {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_2);
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}
.blog_text a {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_4);
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.blog_dev_info ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.blog_dev_info ul li {
    font-size: .8rem;
    font-weight: 300;
    color: var(--color_2);
    line-height: 1rem;
    text-transform: capitalize;

}

.blog_dev_info ul li span {
    color: var(--color_4);
}


.blog_btn_box {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.blog_btn_box a {
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--color_4);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color_1);
    text-transform: capitalize;
    line-height: 1.5rem;
    font-family: var(--f_ubuntu);
    display: inline-block;
}
.blog_btn_box button {
    padding: 1rem 2rem;
    border: 2px solid var(--color_4);
    border-radius: 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color_2);
    text-transform: capitalize;
    line-height: 1.5rem;
    font-family: var(--f_ubuntu);
    display: inline-block;
}



/* contact section  */
.contact_section {
    width: 100%;
    min-height: 830px;
    background-color: #1A1E23;
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--py) 0rem;

}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container form {
    max-width: 1120px;
    width: 100%;
}

.form_container .form_title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color_4);
    text-transform: capitalize;
    line-height: 2.5rem;
    padding: 1rem 2.5rem;
    border-radius: 2.5rem 0rem 2.5rem 0rem;
    border: 2px solid var(--color_4);
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.input_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8rem;
    margin-bottom: 4rem;
}


.input_controller label {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color_4);
    text-transform: capitalize;
    display: block;
}
.input_controller input {
    font-size: 1rem;
    color: var(--color_2);
    border: transparent;
    background-color: transparent;
    outline: none;
    border-bottom:1px solid var(--color_4);
    width: 100%;
    height: 50px;
}
::placeholder {
    font-size: 1rem;
    color: var(--color_2);
    text-transform: capitalize;
}
:-moz-placeholder {
    font-size: 1rem;
    color: var(--color_2);
    text-transform: capitalize;
}


.text_area {
    width: 100%;
}
.text_area label {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color_4);
    text-transform: capitalize;
    display: block;
}

.text_area textarea {
    font-size: 1rem;
    color: var(--color_2);
    border: transparent;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid var(--color_4);
    width: 100%;
    height: 68px;
    resize: none;
}

.submit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.submit_btn button {
    font-size: var(--color_1);
    font-weight: 400;
    font-family: var(--f_ubuntu);
    color: var(--color_1);
    line-height: 1.5rem;
    text-transform: capitalize;
    background-color: var(--color_4);
    padding: 1rem 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}




/* footer section  */
.footer_section {
    background-color: #1A1E23;
    padding: 4rem 0rem 1rem 0rem;
    border-top: 1px solid #43454D;
}

.footer_container {
    /* display: grid;
    grid-template-columns: repeat(3 ,1fr); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--f_ubuntu);
    color: var(--color_2);
}


.footer_menu ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer_menu ul li a {
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--f_ubuntu);
    color: var(--color_2);
    text-transform: capitalize;
}

.footer_social_icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer_social_icons a {
    font-size: 1rem;
    color: var(--color_1);
    padding: .5rem;
    background-color: var(--color_3);
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}